@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F7F7F7;
    font-family: 'Ubuntu', 'Noto Serif Oriya', serif, sans-serif;
    scroll-behavior: smooth;
}

/* Setup */

/* Start Header */

header {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#box-header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    background: #333333;
}

.title, .title span {
    text-align: center;
    background: transparent;
}

.title span {
    font-size: 4rem;
}

#title_tech {
    color: #F08627;
}

#title_tudo {
    color: #CFCFCF;
}

#box-header-bottom {
    height: 25%;
    width: 100%;
    background: #FE8A25;
}

/* End Header */

/* Start Content */

body {
    min-height: 100vh;
}

.card-propaganda {
    margin: 8vh auto;
    width: 1270px;
    height: 118px;
    cursor: pointer;
}

.container-root {
    display: flex;
    flex-direction: column;
}

.card-content-root {
    width: 100%;
    padding: 5vh 5vw;
    display: flex;
}

.card-box {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 45vw;
    border-radius: 10px;
    cursor: pointer;
}

.card-content {
    height: 90vh;
    width: 45vw;
    background-image: url('../public/img1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card-content-bottom {
    height: 1vh;
    width: 45vw;
    background-color: #FE8A25;
    border-radius: 0 0 10px 10px;
}

.card-box_rigth {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 45vw;
    border-radius: 10px;
    cursor: pointer;
    margin: auto 0;
}

.card-content-right {
    height: 44vh;
    width: 45vw;
    background-image: url('../public/img2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card-content-bottom-right {
    height: 1vh;
    width: 45vw;
    background-color: #FE8A25;
    border-radius: 0 0 10px 10px;
}

.card-content-right-bottom {
    height: 44vh;
    width: 45vw;
    background-image: url('../public/img3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.card-content-bottom-right-bottom {
    height: 1vh;
    width: 45vw;
    background-color: #FE8A25;
    border-radius: 0 0 10px 10px;
}

.container-right {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 45vw;
    background-color: transparent;
    margin: 0 1rem;
}

.line {
    background-color: transparent;
    height: 0.2rem;
}

/* Start Other Part */

.container-news {
    display: flex;
    padding: 5vh 5vw;
}

.column-left {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title-news {
    width: 100%;
    margin: 2vh 0;
}

.title-news h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.title-news span {
    color: #F08627;
}

.box-news {
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card-news-left {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    height: 55rem;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card-news-left img {
    width: 95%;
    height: 26rem;
    margin: 0 auto;
}

.card-news-left h2 {
    text-transform: uppercase;
    color: #F08627;
    background-color: transparent;
}

.card-news-left span {
    font-size: 36px;
    background-color: transparent;
}

.card-news-left p {
    font-size: 22px;
    color: #838183;
    background-color: transparent;
}

.card-news-right {
    width: 47.5%;
    height: 55rem;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card-news-left, .card-news-right {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
        padding: 1rem;
}

.box-news-plus {
    margin: 7vh auto;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.box-news-plus h1 {
    font-style: italic;
    font-weight: bold;
    background-color: transparent;
}

.container-card-news {
    display: flex;
    flex-direction: inline;
    justify-content: space-evenly;
    height: 15rem;
}

.card-news {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 10rem;
    width: 15rem;
    cursor: pointer;
}

.card-news img {
    height: 10rem;
    width: 15rem;
}

.card-news span {
    background-color: transparent;
    font-size: 24px;
}