@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F7F7F7;
    font-family: 'Ubuntu', 'Noto Serif Oriya', serif, sans-serif;
    scroll-behavior: smooth;
}

/* Setup */

/* Start Header */

header {
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.card-logo {
    height: 100%;
    width: 10%;
    margin-left: 4rem;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
}

.card-logo span {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background-color: transparent;
}

.card-logo img {
    background-color: transparent;
}

/* Finish Header */

/* Start Content */

.div-root {
    height: 100%;
    width: 100%;
    background-color: yellow;
    padding: 5rem;
    z-index: -1;
}

.container-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    height: 49.3rem;
}

.container-root-left, .container-root-right {
    width: 49.5%;
    background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}

.box-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 49.3rem;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}

.box-card-left {
    height: 100%;
    width: 49%;
    border-radius: 10px 0 0 10px;
    background-color: aqua;
}

.box-card-right {
    height: 100%;
    width: 49%;
    border-radius: 0 10px 10px 0;
    background-color: aqua;
}

.container-root-left span {
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 4;
    left: 1rem;
    bottom: 10rem;
    background-color: transparent;
    position: relative;
}

.container-root-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-root-right-card-left, .container-root-right-card-right {
    width: 49%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container-root-right-card-left span, .container-root-right-card-right span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-left: 1rem;
    background-color: transparent;
}

/* Finish Content */

/* Start Span */

.container-span {
    height: 12.6rem;
    margin: 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-span-left, .card-span-right {
    height: 100%;
    width: 49.5%;
}

.card-span-left {
    background-color: hotpink;
}

.card-span-right {
    background-color: red;
}

/* Finish Span */

/* Start Cards */

.container-cards {
    height: 69rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.container-cards-title{
    height: 2.4rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.box-title {
    height: 2.4rem;
    width: 17.3rem;
    background-color: #303433;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cards-title span {
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
}

/* Start Group Cards */

.container-cards-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.container-cards-group-left, .container-cards-group-right {
    width: 47%;
}

.container-cards-group-left, .container-cards-group-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cards img {
    height: 18.4rem;
    width: 21.9rem;
    border-radius: 10px;
}

.card-content {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-content span {
    color: gray;
    font-weight: bold;
}

.cards, .cards img, .card-content, .card-content h1, .card-content span, .card-content img {
    background-color: transparent;
}

/* Finish Cards */

/* Start Topics */

.container-topics {
    height: 53.2rem;
    width: 100%;
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-topics-card {
    height: 100%;
    max-width: 52.2rem;
    margin: 0 1rem;
    background-color: transparent;
}

.container-topics-card-title {
    height: 3rem;
    width: 100%;
    background-color: green;
}

.container-topics-card-title-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container-topics-card-title-content span {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
}

.container-topics-card-content {
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.container-topics-card-image {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: url('../public/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}

.container-topics-card-content span {
    font-size: 2rem;
}

.container-topics-card-content p {
    font-size: 1rem;
}

.container-topics-card-content span, .container-topics-card-content p {
    background-color: transparent;
    color: white;
}

.container-topics-card-content-item {
    position: relative;
    left: 1rem;
    bottom: 10rem;
    background-color: transparent;
}

.container-topics-card-list {
    width: 100%;
    padding: 0 2rem;
    background-color: transparent;
    position: relative;
    bottom: 4rem;
}

.container-topics-card-list li, .container-topics-card-list ul{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
}

/* Finish Topics */

/* Start Extra News */

.container-extra-news {
    width: 100%;
    height: 67rem;
    background-color: blue;
}

.container-extra-news-title {
    height: 5.4rem;
    width: 100%;
}

.container-extra-news-title-content {
    height: 4rem;
    width: 31rem;
    background-color: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-extra-news-title-content p {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

.container-extra-news-card {
    max-width: 56rem;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-extra-news-card img {
    height: 37rem;
    width: 100%;
    border-radius: 20px;
}

.container-extra-news-card h1 {
    font-size: 2rem;
}

.container-extra-news-card p {
    color: gray;
}

.container-extra-news, .container-extra-news-card,.container-extra-news-card img, .container-extra-news-card h1, .container-extra-news-card p, .container-extra-news-title {
    background-color: transparent;
}

.container-extra-news-line {
    height: 61rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



